@{
    Layout = "~/Views/Shared/MidLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src=""></script>
    <script src=""></script>
</head>
<body>
    <div class="container">
        <h2 class="" style="margin-top:8%" align-items-center> </h2>
        <div class="section-title">
            <h2>Hakkımızda</h2>
        </div>
        <div class="col-md-12">
            @*<div data-aos="zoom-in">
                <div class="align-items-center justify-content-center">*@
            <img src="~/img/atap.png" height="1000" class="img-fluid">
            <br />
            <br />
            <dl class="row">

                @*@foreach (var item in aboutUs)
                    {
                        <dt class="col-sm-3">@item.Baslik</dt>
                        <dd class="col-sm-9">@item.Icerik </dd>

                }*@
                @*<dt class="col-sm-3">Midsoft Hakkında</dt>
                    <dd class="col-sm-9">Midsoft L.T.D. 2016 yılında Eskişehir Anadolu Teknoloji Araştırma Parkı'nda faaliyetlerine başlamış, bilişim sektöründe firmalara ve sektörlere özel çözümler sunmaktadır. <br /> Bilişim sektöründe öncü ve yenilikçi bir firma olma vizyonuyla Midsoft L.T.D. müşterilerinin ihtiyaçlarını giderecek çözümleri donanımlı ve alanında uzman kadrosuyla gerçekleştirmektedir </dd>
                    <dt class="col-sm-3">Vizyonumuz</dt>
                    <dd class="col-sm-9">
                        <p>Bilişim sektöründe ülkemizde faaliyet gösteren işletmeler içerisinde lider, öncü ve yenilikçi bir firma olmak, dünya çapındaki firmalarla da rekabet edebilir düzeye gelmek.</p>
                    </dd>
                    <dt class="col-sm-3">Misyonumuz</dt>
                    <dd class="col-sm-9">İşletmelere faaliyet gösterdikleri sektörlere özel olarak çözümler geliştirerek, iş süreçlerini kendi teknoloji ve yazılımlarımız sayesinde yönetilebilir hale getirmek.<br />Geliştirdiğimiz çözümleri kullanan işletmelerin çözümlerimiz sayesinde üretim ve/ve ya hizmet kapasitesini arttırarak ülkemiz ekonomisine daha fazla katkıda bulunmasını sağlamak.</dd>*@
            </dl>

        </div>

    </div>

</body>
</html>

