@using MidSoftWebSite.Models.DB

@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/MidLayout.cshtml";
    var homePage = ViewData["homeList"] as IList<HomePage>;
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @*<p class="" style="margin-top:17%">Sea</p>*@
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                  

                    @foreach (var item in homePage)
                    {
                        <h1 style="color:aqua">@item.Baslik</h1>
                        <h2 >@item.Icerik</h2>

                    }
                    <div class="d-lg-flex">
                        <a href="#about" class="btn-get-started scrollto">GetStarted</a>
                        <a style="color:#47b2e4 ; border-radius:30%;" href="https://www.youtube.com/watch?v=rQ1AEA06Byw&t=2s" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/img/lora.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->
    <main id="main">

        <!-- ======= Cliens Section ======= -->
        <section id="cliens" class="cliens section-bg">
            <div class="container">
                <div class="row" data-aos="zoom-in">
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/img/tek metal logo.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/img/landeLogo.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/img/meçplastiklogo.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/img/gknlogo.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/img/çınalogo.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/img/eptalogo.png" class="img-fluid" alt="">
                    </div>

                </div>

            </div>
        </section><!-- End Cliens Section -->
    </main>

</body>
</html>




