
@{
    ViewData["Title"] = "Referance";
    Layout = "~/Views/Shared/MidLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    <div class="d-flex align-items-center">

        <div class="container">
            <h2 class="" style="margin-top:8%" align-items-center> </h2>
            <div class="section-title">
                <h2>Referanslar</h2>
            </div>
            <div class="row" style="margin-top:1%">

                <div class="col col-md-2">
                    <img src="~/img/tek metal logo.png" class="img-fluid" alt="" style="height:100px">
                </div>
                <div class="col col-md-2">
                    <img src="~/img/landeLogo.png" class="img-fluid" alt="" style="height:100px">
                </div>
                <div class="col col-md-2">
                    <img src="~/img/meçplastiklogo.png" class="img-fluid" alt="" style="        height: 100px
">
                </div>
                <div class="col col-md-2">
                    <img src="~/img/gknlogo.png" class="img-fluid" alt="" style="        height: 100px
">
                </div>
                <div class="col col-md-2">
                    <img src="~/img/çınalogo.png" class="img-fluid" alt="" style="        height: 100px
">
                </div>
                <div class="col col-md-2">
                    <img src="~/img/eptalogo.png" class="img-fluid" alt="" style="        height: 100px
">

                </div>
                <div class="col col-md-2">
                    <img src="~/img/kirazlı.png" class="img-fluid" alt="" style="        height: 100px
">

                </div>
                <div class="col col-md-2">
                    <img src="~/img/nova.png" class="img-fluid" alt="">

                </div>
                <div class="col col-md-2">
                    <img src="~/img/CesarLogo.png" class="img-fluid" alt="">

                </div>
                <div class="col col-md-2">
                    <img src="~/img/akplastik.png" class="img-fluid" alt="">

                </div>
            </div>
        </div>
    </div>
</body>
</html>


